div(ng-controller="PlaneCtrl", ng-init="search()")
    h1 Enter search parameters to filter aircraft.

    #search-fields
        h4 Fields to show
        .search-field(ng-repeat="field in searchFields")
            input(type="checkbox", ng-model="field['visible']")
            Label {{field['label']}}

    .clr

    #search-criteria
        .form-group(ng-repeat="searchField in searchFields")
            div(ng-switch="searchField.type")
                div(ng-switch-when="numeric")
                    numeric-search-field(label="{{searchField.label}}", field="$parent[searchField.field]")
                div(ng-switch-when="select")
                    select-search-field(label="{{searchField.label}}", field="$parent[searchField.field]", options="searchField.options")

        .clr

        h4 Search criteria
        a(href="#", ng-click="toggleShowAllPlanes()") {{showAllPlanesText}}
        .clr

        .form-group
            label(for="form-gear") Landing gear
            br
            select(ng-model="gear")#form-gear
                option(value="") Any
                option(value="fixed") Fixed
                option(value="retractable") Retractable

        .form-group
            label(for="form-mixture") Mixture
            br
            select(ng-model="mixture")#form-mixture
                option(value="") Any
                option(value="carburated") Carburated
                option(value="fuelinjected") Fuel Injected

        .form-group
            label(for="form-min-cruise-speed") Cruise Speed
            br
            input(ng-model="cruiseSpeedKts.min", size="4", placeholder="Min")#form-min-cruise-speed
            input(ng-model="cruiseSpeedKts.max", size="4", placeholder="Max")

        .form-group
            label(for="form-min-horsepower") Horsepower
            br
            input(ng-model="horsepower.min", size="4", placeholder="Min")#form-min-horsepower
            input(ng-model="horsepower.max", size="4", placeholder="Max")

        .clr
        

    #search-table-container
        h2(style="margin-bottom: 0;") Results
        table#search-table
            thead
                tr
                    th 
                    th(ng-show="searchFields[0].visible") Make
                    th(ng-show="searchFields[1].visible") Model
                    th(ng-show="searchFields[2].visible") Model No.
                    th(ng-show="searchFields[3].visible") Cruise Speed
                    th(ng-show="searchFields[4].visible") Top Speed
                    th(ng-show="searchFields[5].visible") Stall Speed (Dirty)
                    th(ng-show="searchFields[6].visible") Gear
                    th(ng-show="searchFields[7].visible") Mixture
                    th(ng-show="searchFields[8].visible") Engine Make
                    th(ng-show="searchFields[9].visible") Engine Model
                    th(ng-show="searchFields[10].visible") Engine Model (Specific)
                    th(ng-show="searchFields[11].visible") Horsepower
                    th(ng-show="searchFields[12].visible") Gross Weight (lbs.)
                    th(ng-show="searchFields[13].visible") Empty Weight (lbs.)
                    th(ng-show="searchFields[14].visible") Usable Weight (lbs.)
                    th(ng-show="searchFields[15].visible") Full Fuel Usable Weight (lbs.)
                    th(ng-show="searchFields[16].visible") Fuel Capacity (gal.)
                    th(ng-show="searchFields[17].visible") Range (NM)
                    th(ng-show="searchFields[18].visible") Takeoff Ground Roll
                    th(ng-show="searchFields[19].visible") Takeoff Over 50 ft.
                    th(ng-show="searchFields[20].visible") Landing Ground Roll
                    th(ng-show="searchFields[21].visible") Landing Over 50 ft.
                    th(ng-show="searchFields[22].visible") Climb Rate (FPM)
                    th(ng-show="searchFields[23].visible") Ceiling (ft.)
            tbody
                tr(ng-repeat="plane in planes | filter:searchFieldFilter| filter:hiddenFilter", class="{{plane.hidden == true ? 'hidden-plane' : ''}}")
                    td.jqIgnore
                        span(ng-click="toggleHidden(plane)", class="glyphicon {{plane.hidden == true ? 'glyphicon-plus-sign' : 'glyphicon-minus-sign'}}")
                    td(ng-show="searchFields[0].visible") {{plane.make}}
                    td(ng-show="searchFields[1].visible") {{plane.model}}
                    td(ng-show="searchFields[2].visible") {{plane.modelNumber}}
                    td(ng-show="searchFields[3].visible") {{plane.cruiseSpeedKts | number:0}}
                    td(ng-show="searchFields[4].visible") {{plane.topSpeedKts | number:0}}
                    td(ng-show="searchFields[5].visible") {{plane.stallSpeedDirtyKts | number:0}}
                    td(ng-show="searchFields[6].visible") {{plane.gear}}
                    td(ng-show="searchFields[7].visible") {{plane.mixture}}
                    td(ng-show="searchFields[8].visible") {{plane.engineMake}}
                    td(ng-show="searchFields[9].visible") {{plane.engineModel}}
                    td(ng-show="searchFields[10].visible") {{plane.engineModelSpecific}}
                    td(ng-show="searchFields[11].visible") {{plane.horsepower | number:0}}
                    td(ng-show="searchFields[12].visible") {{plane.grossWeightPounds | number:0}}
                    td(ng-show="searchFields[13].visible") {{plane.emptyWeightPounds | number:0}}
                    td(ng-show="searchFields[14].visible") {{plane.grossWeightPounds-plane.emptyWeightPounds | number:0}}
                    td(ng-show="searchFields[15].visible") {{plane.fullFuelUsableWeight}}
                    td(ng-show="searchFields[16].visible") {{plane.fuelCapacityGallons | number:0}}
                    td(ng-show="searchFields[17].visible") {{plane.rangeNM | number:0}}
                    td(ng-show="searchFields[18].visible") {{plane.takeOffGroundRollFt | number:0}}
                    td(ng-show="searchFields[19].visible") {{plane.takeOffOver50FtFt | number:0}}
                    td(ng-show="searchFields[20].visible") {{plane.landingGroundRollFt | number:0}}
                    td(ng-show="searchFields[21].visible") {{plane.landingOver50FtFt | number:0}}
                    td(ng-show="searchFields[22].visible") {{plane.climbRateFpm | number:0}}
                    td(ng-show="searchFields[23].visible") {{plane.ceilingFt | number:0}}