div(ng-controller="PlaneCtrl", ng-init="search()")
    h1 Find planes based on any criteria

    #search-fields
        h4 Fields to show
        #actual-search-fields(ng-show="showSearchFields")
        .search-field(ng-repeat="field in searchFields")
            input(type="checkbox", ng-model="field['visible']")
            Label {{field['label']}}

    .clr

    #search-criteria
        h4 Search criteria
        a(href="#", ng-click="toggleShowAllPlanes()") {{showAllPlanesText}}
        .clr

        .form-group
            text-search-field(label="Make", field="make")

        .form-group
            text-search-field(label="Model", field="model")

        .form-group
            text-search-field(label="Model Number", field="modelNumber")

        .form-group
            text-search-field(label="Engine Make", field="engineMake")


        .form-group
            label(for="form-gear") Landing gear
            br
            select(ng-model="gear")#form-gear
                option(value="") Any
                option(value="fixed") Fixed
                option(value="retractable") Retractable

        .form-group
            label(for="form-mixture") Mixture
            br
            select(ng-model="mixture")#form-mixture
                option(value="") Any
                option(value="carburated") Carburated
                option(value="injected") Fuel Injected

        .form-group
            numeric-search-field(label="Cruise Speed (kts.)", field="cruiseSpeedKts")

        .form-group
            numeric-search-field(label="Horsepower", field="horsepower")

        .form-group
            numeric-search-field(label="Range (NM.)", field="rangeNM")

        .form-group
            numeric-search-field(label="Gross Weight (lbs.)", field="grossWeightPounds")

        .form-group
            numeric-search-field(label="Empty Weight (lbs.)", field="emptyWeightPounds")

        .form-group
            numeric-search-field(label="Usable Weight (lbs.)", field="usableWeight")

        .form-group
            numeric-search-field(label="Full Fuel Usable Weight (lbs.)", field="fullFuelUsableWeight")

        .form-group
            numeric-search-field(label="Fuel Capacity (gal.)", field="fuelCapacityGallons")

        .form-group
            numeric-search-field(label="Climb Rate (fpm.)", field="climbRateFpm")

        .form-group
            numeric-search-field(label="Ceiling (ft.)", field="ceilingFt")

        .clr
        

    #search-table-container
        h2(style="margin-bottom: 0;") Results
        table#search-table
            thead
                tr
                    th
                    if user
                        th Delete
                        th Edit
                    th(ng-repeat="field in searchFields", ng-show="field.visible", ng-click="changeSort(field.field)") {{field.label}}

            tbody
                tr(ng-repeat="plane in planes | orderBy:sort.column:sort.descending | filter:searchFieldFilter| filter:hiddenFilter", class="{{plane.hidden == true ? 'hidden-plane' : ''}}")
                    td.jqIgnore
                        span(ng-click="toggleHidden(plane)", class="glyphicon {{plane.hidden == true ? 'glyphicon-plus-sign' : 'glyphicon-minus-sign'}}")
                    if user 
                        td(ng-click="removePlane(plane)") Delete
                        td
                            a(href="/planes/{{plane._id}}") Edit
                    td(ng-repeat="field in searchFields", ng-show="field.visible", ng-switch="field.type") 
                        span(ng-switch-when="numeric") {{plane[field.field] | number}}
                        span(ng-switch-when="file_with_preview")
                            span(ng-click="previewFile(plane[field.field])", class="{{plane[field.field] == null || plane[field.field] == '' ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-zoom-in'}}")
                        span(ng-switch-default) {{plane[field.field]}}







