div(ng-controller="PlaneCtrl", ng-init="search()")
    h1 Signup
    form(method="post", action="/signup")
        label Enter email
        input(type="text", name="email")

        label Enter password
        input(type="password", name="password")

        input(type="submit", value="Submit")






