doctype html
html(ng-app="myApp")
    head
        meta(charset='utf8')
        title Littleplanefinder.com

        link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='/css/glyphicons.css', type='text/css')
        link(rel='stylesheet', href='/css/style.css')
    body

        header
            <img src="/img/littleplanefindercom.png" />
            <!-- h1#brand littleplanefinder.com -->
            
        .clr

        block content

        footer(ng-controller="UserCtrl")
            p. 
                &copy; 2014 littleplanefinder.com. All rights reserved. 
                Littleplanefinder.com is open source. <a href="https://github.com/andypandy/littleplanefinder" target="_blank">Check it out on GitHub</a>.
                <a href="#" ng-click="toggleShowLoginForm()">Admin</a>.

            #login_container(ng-show="showLoginForm")
                if user
                    a(href="#", ng-click="logout()") Logout
                    a(href="/create") Create a plane
                else
                    form(ng-submit="login()")
                        label Email: 
                        input(type="text", ng-model="loginFormData.email", style="margin-right: 20px;")
                        label Password: 
                        input(type="password", ng-model="loginFormData.password", style="margin-right: 20px;")
                        input(type="submit", value="Login", style="margin-right: 20px;") 
                        {{ loginErrorMessage }}


        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")

        script(src='/js/lib/angular/angular.js')
        script(src='/js/lib/angular/angular-resource.js')
        script(src='/js/lib/angular/angular-route.js')

        script(src="/js/app.js")
        script(src='/js/services/planes.js')
        script(src='/js/directives.js')
        script(src='/js/controllers.js')
        script(src="/js/main.js")

        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-47531621-1', 'littleplanefinder.com');
            ga('send', 'pageview');

